{% extends 'base.twig' %}

{% block title %}i18n{% endblock %}

{% block content %}
    <h1>{{ title }} {{ language }}</h1>
    <form method="get">
        <select name="lang">
            <option value="es-ES">Castellano</option>
            <option value="ca-ES">Català</option>
            <option value="en-GB">UK English</option>
            <option value="en-US">US English</option>
        </select>
        <input type="submit" value="{{ change_language }}" />
    </form>
    <dl>
        {% for translation in translations %}
            <dt>{{ translation.key }}</dt>
            <dd>{{ translation.value }}</dd>
        {% endfor %}
    </dl>
{% endblock %}