{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>MPWAR Framework</h1>
    <p>A continuación se detallan los elementos implementados:</p>
    <dl>
        <dt>Routing</dt>
        <dd>YAML</dd>
        <dd>PHP</dd>
        <dd>JSON</dd>
        <dt>Gestión de entornos</dt>
        <dd>Development: muestra por defecto excepciones y Profiler</dd>
        <dd>Producción: oculta todo lo anterior</dd>
        <dt>Controller tipo</dt>
        <dd>Mpwarfwk\Controller\Base</dd>
        <dt>Objeto Request</dt>
        <dd>Soporte para Session, Cookies, Get, Post, Files, Server, Environment y Cookies</dd>
        <dt>Objeto Response</dt>
        <dd>HTTP</dd>
        <dd>JSON</dd>
        <dt>Templating</dt>
        <dd>Twig</dd>
        <dd>Smarty</dd>
        <dt>Database</dt>
        <dd>PDO con soporte para MySQL y SQLite</dd>
        <dt>Container</dt>
        <dd>Con gestión de persistencia</dd>
        <dt>i18N</dt>
        <dd>Con soporte para formatos YAML, PHP y JSON</dd>
        <dt>Profiler</dt>
        <dd>Estadísticas básicas de rendimiento y trazas generales de la aplicación</dd>
    </dl>
    <p>La gran mayoría de funcionalidades es configurable mediante ficheros de configuración, facilitados en el arranque de la aplicación.</p>
{% endblock %}