{% extends 'base.twig' %}

{% block title %}SQLite{% endblock %}

{% block content %}
<h1>Posts</h1>
<ul>
    {% for post in posts %}
        <li>{% include 'post.twig' %}</li>
    {% endfor %}
</ul>
{% endblock %}