{% extends 'base.twig' %}

{% block title %}Posts by {{ author }}{% endblock %}

{% block content %}
    <h1>Posts by {{ author }}</h1>
    <ul>
        {% for post in posts %}
            <li>{% include '/Blog/home_post.twig' %}</li>
        {% endfor %}
    </ul>
{% endblock %}