{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <ul>
        {% for post in posts %}
            <li>{% include '/Blog/home_post.twig' %}</li>
        {% endfor %}
    </ul>
{% endblock %}