<h1><a href="/blog/post?post={{ post.id }}">{{ post.title }}</a></h1>
<h2>by <a href="/blog/author?author={{ post.author_id }}">{{ post.author }}</a> on {{ post.posted_on|date("m/d/Y") }}</h2>
<p>{{ post.contents|length > 50 ? post.contents|slice(0, 250) ~ '...' : post.contents }}</p>