{% extends 'base.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.contents }}</p>
    <footer>
        By <a href="/author?author={{ post.author_id }}">{{ post.author }}</a> on {{ post.posted_on|date("m/d/Y") }}
    </footer>
{% endblock %}