{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Search {{ term is empty ? '' : 'results for \'' ~ term ~ '\'' }}</h1>
    <form method="get">
        <input type="text" name="term" placeholder="Enter some text..." />
        <input type="submit" value="Search"/>
    </form>
    <ul>
        {% for post in posts %}
            <li>{% include '/Blog/home_post.twig' %}</li>
        {% endfor %}
    </ul>
{% endblock %}